
# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
__pycache__
.ipynb_checkpoints
images
*.ipynb
temp_main.py
make_requests.py
